body{
	background-image:url(../Images/be.jpg);
	background-size: 100% 550px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
}

/*start nav condig*/
nav{
	width:100%;
    height:230px;
    background-color:rgba(0, 0, 0, 0.8);
    float:left;
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
   
}


#welcome{
	font-size:50px ;
	color: white;
	text-align: center;
	padding: 0;
	margin:0;
}

#table_menu{
	width: 750px;
	height: 70px;
	box-sizing: border-box;
}

#menu{
	width: 20%;
	height: 70px;
	font-size: 20px;
	font-family: century gothic;
	font-weight: normal;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	box-sizing: border-box;
	text-align: center;
}

a{
	color: white;
	text-decoration: none;
}

/*end nav condig*/


/*start section conding*/

#Home_section{
	width: 670px;
	height: 300px;
	box-sizing: border-box;
	float: right;
	background-image:url(../images/section.png);
}

#logo{
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-left:180px ;
	margin-top: 50px;
}

#B{
	color: white;
	font-size: 150px;
	box-sizing: border-box;
	padding: 0;
	margin-top:-13px;
}

#com{
	color: white;
	text-align:center;
	margin-left: 180px;
	padding: 0;
	margin-top: -5px;
}


/*end Home page section conding*/


/*stard Login page nav coding*/
#Domain_name{
          margin: 0;
          padding: 0;
          color: white;
          font-family: sans-serif;
          text-align: center;
          font-size: 50px;
}

/*end Login page nav coding*/

/*start Section Login page coding*/
#login_section{
	width: 670px;
	height: 300px;
	box-sizing: border-box;
	float: right;
	background-image:url(../images/section.png);
}

fieldset{
	width: 280px;
	height: 200px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	margin-left: 290px;
	margin-top: 40px;
	padding: 20px;
	padding-top: 10px;
	box-sizing: border-box;

}

legend{
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#login_form{
	color: white;
	font-size: 20px;
	font-family: century gothic;
}

#Username{
	width: 100%;
	height: 20px;
	background-color: inherit;
	border:none;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color: white;
	font-size: 15px;
	margin-bottom: 10px;
	

}

#password{
	width: 100%;
	height:20px;
	width: 100%;
	height: 20px;
	background-color: inherit;
	border:none;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color: white;
	font-size: 15px;
	margin-bottom: 13px;
}

#Login{
	float: right;
	font-size: 18px;
	font-family:century gothic;
	background-color: inherit;
	border: none;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	color: white;

}

/*end section Login page coding*/


/*start contact page coding*/
#contact{
	color: white;
	font-family:century gothic;
	font-size: 13px;
	font-style:normal;
	line-height: 25px;

}

/*end contact page coding*/

/*start product page coding*/
#product_section{
	width: 100%;
	height: 1000px;
	box-sizing: border-box;
	float: left;
}

#brands{
	width: 100%;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.8);
	float: left;
	box-sizing: border-box;
}

#brands_heading{
	color: black;
	text-align: center;
	font-size: 30px;
}

#brand_pic{
	width: 200px;
	height: 80px;
	float: left;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	box-sizing: border-box;
  	margin: 21px;
  	margin-top: 5px;
}

#search{
	width: 60%;
	height: 40px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	float: left;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 20px;
	padding: 10px;
	padding-left: 40px;
	background-image: url(../Images/search.png);
	background-repeat: no-repeat;
	background-position: left;
}

#view{
	width: 100%;
	height: 300px;
	box-sizing: border-box;
	float: left;
	padding: 20px;
	background-color: rgba(0,0,0,0.8);

}

#Rose{
	color: white;
	font-family:century gothic;
	text-align: center;
	font-size: 25px;
	margin-top: -10px;
}

#line{
	width: 16%;
	padding: 0;
	margin-top: -20px;
	margin-bottom: 40px;
}

#view-produts{
	width: 17%;
	height: 200px;
	float: left;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-right:28px;
}

#rose-p{
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	padding: 0;
	margin-top:-5px;
}

#h3{
	color: white;
	float: left;
	font-size: 15px;
	padding:0;
	margin-left: 2px;
	margin-top:-25px;
}

#buy-now{
	color: white;
	font-size: 13px;
	float: right;
	padding: 0;
	margin-right:10px;
	margin-top:-25px;
}


#rose-images{
	width: 100%;
	height: 150px;
}

#tstar{
	width: 17%;
	height: 200px;
	float: left;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	margin-right:25px;
	 }

#coco{
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	padding: 0;
	margin-top:-5px;
}

h3{
	color: white;
	float: left;
	font-size: 15px;
	padding:0;
	margin-left: 2px;
	margin-top:-25px;
}

#buy-now{
	color: white;
	font-size: 13px;
	float: right;
	padding: 0;
	margin-right:10px;
	margin-top:-25px;
}

#Beauty{
	width: 100%;
	height: 300px;
	box-sizing: border-box;
	float: left;
	padding: 20px;
	background-color: rgba(0,0,0,0.8);

}

#Beauty_B{
	color: white;
	font-family:century gothic;
	text-align: center;
	font-size: 25px;
	margin-top: -10px;
}


#Beauty-produts{
	width: 17%;
	height: 200px;
	float: left;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-right:28px;
}

#linf{
	width: 19%;
	padding: 0;
	margin-top: -20px;
	margin-bottom: 40px;
}

#second{
	width: 17%;
	height: 200px;
	float: left;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	margin-right:25px;
	 }


#rouge{
	width: 100%;
	height: 300px;
	box-sizing: border-box;
	float: left;
	padding: 20px;
	background-color: rgba(0,0,0,0.8);

}

#rouge_R{
	color: white;
	font-family:century gothic;
	text-align: center;
	font-size: 25px;
	margin-top: -10px;
}


#rouge-produts{
	width: 17%;
	height: 200px;
	float: left;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-right:28px;
}

#ling{
	width: 19%;
	padding: 0;
	margin-top: -20px;
	margin-bottom: 40px;
}

#third{
	width: 17%;
	height: 200px;
	float: left;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	margin-right:25px;
	 }

footer{
	width: 100%;
	height: 60px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	float: right;
	text-align: center;
	background-color: rgba(225,225,225, 0.8);
}


/*end product page coding*/


/*start Sing up page coding*/

#Sing_form{
	color: white;
	font-size: 20px;
	font-family: century gothic;
}

#First-Name{
    width: 100%;
	height: 20px;
	background-color: inherit;
	border:none;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color: white;
	font-size: 15px;
	margin-bottom: 10px;
	
}

#Mobile_No{
	width: 100%;
	height: 20px;
	background-color: inherit;
	border:none;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color: white;
	font-size: 15px;
	margin-bottom: 10px;
}

#Email-Id{
	width: 100%;
	height: 20px;
	background-color: inherit;
	border:none;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	color: white;
	font-size: 15px;
	margin-bottom: 10px;
	text-align: right;
}

#Sing_Fieldset{
	width: 280px;
	height: 330px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	margin-left: 290px;
	margin-top: 10px;
	padding: 20px;
	padding-top: 10px;
	box-sizing: border-box;

}

#Sign_Section{
	width: 670px;
	height: 350px;
	box-sizing: border-box;
	float: right;
	background-image:url(../images/section.png);
}


/*end Sing up page coding*/